@model Entity_Model_Layer.Models.Patient

@{
    ViewData["Title"] = "insertpatient";
}

<h1 style="text-align:center">Register Patient</h1>
<hr />
@*<h4>Patient</h4>
<hr />*@
<div class="row justify-content-md-center container" >
    <div class="col-md-4">
        <form asp-action="insertpatient" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PName" class="control-label">Patient Name</label>
                <input asp-for="PName" class="form-control" required pattern="[a-zA-Z\s]+" />
                <span asp-validation-for="PName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AGe" class="control-label">Patient age</label>
                <input asp-for="AGe" class="form-control" />
                <span asp-validation-for="AGe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PWeight" class="control-label">Patient weight</label>
                <input asp-for="PWeight" class="form-control" />
                <span asp-validation-for="PWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Patient Gender: </label>
                        <label class="radio_wrap">
                            <input type="radio" asp-for="Gender" value="M" class="input_radio" title="Please select the Gender" required>
                            <span>Male</span>
                        </label>
                        <label class="radio_wrap">
                            <input type="radio" asp-for="Gender" value="F" class="input_radio" title="Please select the Gender" required>
                            <span>Female</span>
                        </label>
                @*<input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="PAddress" class="control-label">Patient address</label>
                <input asp-for="PAddress" class="form-control" />
                <span asp-validation-for="PAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PType" class="control-label">Patient type: </label>
                <select asp-for="PType" required>
                    <option value="I" class="form-control">In Patient</option>
                    <option value="O" class="form-control">Out Patient</option>
                </select>
                        @*<label class="radio_wrap">
                            <input type="radio" name="Patient type" value="I" class="input_radio" required>
                            <span>InPatient</span>
                        </label>
                        <label class="radio_wrap">
                            <input type="radio" name="Patient type" value="O" class="input_radio" required>
                            <span>OutPatient</span>
                        </label>*@
                @*@if (@Model.PType == "I")
                {
                    <div class="form-group">
                        <label name="addate" class="control-label">Select Admission Date</label>
                        <input type="date" name="addate" class="control-label" />
                        <span class="text-danger"></span>
                    </div>
                }
                else {
                    <div class="form-group">
                        <label name="trdate" class="control-label">Select Treatment Date</label>
                        <input type="date" name="trdate" class="control-label" />
                        <span class="text-danger"></span>
                    </div>
                }*@
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disease" class="control-label">Disease</label>
                <input asp-for="Disease" class="form-control" />
                <span asp-validation-for="Disease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label">Select Doctor</label>
                <select asp-for="DoctorId" name="DoctorId" class="form-control" asp-items="(@ViewBag.Doctorlist)"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="showpatientdetails">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
